// 不太清楚為何需要特地寫這行，若不寫會抓不到 base.scss 裡的變數
$screen-break-point: 749.5px;

// done
main.siteMain {
  margin-top: 80px;
  padding-left: var(--site-edge-margin);
  padding-right: var(--site-edge-margin);
  background-color: inherit;

  .mainContainer {
    // 本來想用 grid 做，發現在現有 HTML 架構不太好做，會影響其他樣式
    display: flex;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    // grid-template-areas:
    //   'registerSection registerSection cart'
    //   'progressControl progressControl cart';
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}