// 結帳標題
section.registerContainer {
  // border: 3px solid blue;
  // grid-area: registerSection;

  h2.registerTitle {
    margin-top: -30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--main-text);
  }
}